---
layout: workshop
root: .
venue: Enabling Science Beyond the Campus Edge at RMACC 17
address: Boulder, CO
country: United States
humandate: August 15, 2017
humantime: 1:00 pm - 4:30 pm
startdate: August-15-2017
enddate: August-15-2017
latlng: 40.0150, -105.2705
registration: http://sched.co/AOrg
instructor: ["Suchandra Thapa, Rob Gardner"]
helper: ["Mats Rynge"]

contact: user-support@opensciencegrid.org
---


<!--
    Edit the values in the parameter block above to be appropriate for your bootcamp.
-->

<!--
{% if page.eventbrite %}
<iframe src="//www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt" frameborder="0" width="100%" scrolling="auto"></iframe>
{% endif %}
-->

<h2>General Information</h2>

<p>
Enabling campus researchers to share computational and data resources with
external collaborators is a powerful tool in advancing science. Sharing
spare capacity even for short durations allows an institutional HPC resource a
cost-efficient means of contributing to the larger research ecosystem. In this
session we will show you how to integrate your HPC cluster resource to the Open
Science Grid to support collaborative, multi-institutional science. The only
requirements are that your cluster can provide SSH access to a single OSG staff
member, that your cluster job submission and worker nodes have outbound IP
connectivity, the operating system is CentOS/RHEL 6.x, 7.x or similar, and that
a common batch scheduler is used (e.g. SLURM, PBS, HTCondor). During the
tutorial we will configure OSG managed services to deliver workloads from
science communities using the OSG to your HPC cluster.

</p>
 
 <p><strong><a href="https://rmacc.org/">RMACC 2017 HPC Symposium</a></strong></p>
<!-- This block displays the instructors' names if they are available. -->
{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}

<!-- This block displays the helpers' names if they are available. -->
{% if page.helper %}
<p>
  <strong>Helpers:</strong>
  {{page.helper | join: ', ' %}}
</p>
{% endif %}

<!--
    Modify this block to reflect the target audience for your bootcamp.
    In particular, if it is only open to people from a particular institution,
    or if specialized prerequisite knowledge is required, please mention that.
-->
<!--
<p>
  <strong>Who:</strong>
  The course is aimed at graduate students, post-doctoral researchers and other researchers.
</p>
-->
<!--
    This block displays the address and links to a map showing directions.
-->
<!--
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %}
-->

<!--
    Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong>
  Participants must fill out the questionnaire and should have an account created on their
  cluster for the OSG service (see <a href="setup.html">Setup</a>).
</p>

<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>


<hr/>

{% if page.registration %}
<h2>Registration</h2>
<p>
Space is limited for the event. To register,  please <a href="{{page.registration}}"> visit here</a>.
</p>
{% endif %}
<hr/>

<h2>Schedule</h2>
<h2> </h2>
<div class="row-fluid">
    <h4> <a href="http://sched.co/AQi6">Enabling Science Beyond the Campus Edge: HPC Integration with the Open Science Grid</a> </h4>
    <h4> August 15th, 1:00 PM - 4:30 PM </h4>
    <h5>Location: <a href="https://rmacc2017hpcsymposium.sched.com/venue/S125?iframe=yes&w=100%&sidebar=yes&bg=no">S125</a> </h5>
    <h5>Instructors: Rob Gardner, Suchandra Thapa, Mats Rynge</h5>
     <h3> </h3>
    <table class="table table-striped">
      <tr> <td>1:00 - 1:30 </td> <td> <a href="https://docs.google.com/presentation/d/1dqk8RIKtdowlYTJ7gYiGs0gAykKe1oC4DIcFMM2z4jA/edit?usp=sharing"> Quick overview of the OSG
      infrastructure and tutorial goals</a> </td> </tr>
      <tr> <td>1:30 - 2:00 </td> <td><a href="https://docs.google.com/presentation/d/1nu5crrg-VmcX4ah3X8WjvowXQzyPq4m1hkehzuEgDr0/edit?usp=sharing">Trust model and security
      assesment of the hosted compute element</a></td> </tr>
      <tr> <td>2:00 - 2:30 </td> <td><a href="demo.html">Demonstration</a></td> </tr>
      <tr> <td>2:30 - 3:00</td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>3:00 - 3:30 </td> <td><a href="handson2.html">Hands-on session</a></td></td></td></tr>
      <tr> <td>3:30 - 4:00 </td> <td><a href="">Job lifecycles from submission to running on your cluster</a></td></td></td></tr>
      <tr> <td>4:00 - 4:15 </td> <td><a href="">Viewing job accounting for your cluster</a></td></td></td></tr>
      <tr> <td>4:15 - 4:30</td> <td>Wrap up and Next Steps</td> </tr>
    </table>
  </div>
<hr/>



<!--
    Edit this block to show what topics will be covered.
-->

<h2>Setup Instructions </h2>
<p>
  <a href="setup.html">Instructions on getting your cluster ready for the
  tutorial. </a>
</p>
<hr/> 

<!--
<h2>Feedback</h2>
<p>
  <a href="https://docs.google.com/forms/d/1kJJ0QGsY_Aqpn1rdN5Ng8KuBoL5lpmjFXQcFS3SMKwo/edit">Feedback for the tutorial</a>. 
</p>
<hr/>
-->


<!--
    Edit the setup instructions in _includes/setup.html to reflect your bootcamp.
    (In particular, most bootcamps teach either Python or R, not both.)
-->
