
<!--
<h2>Setup</h2>
-->
<p>
Please make sure that you have completed the following setup precedure before arriving at the training session.  Please arrive early if you have any problems and require help from an instructor.</p>
<h3>Overview</h3>

<div class="row-fluid">
  <div class="span12">
    <h4>Requirements</h4>
    <p>
      Integrating your cluster into OSG has fairly low requirements.  The OSG
      software works with a variety of job schedulers (Slurm, SGE, LSF, PBS,
      HTCondor).  The only hard requirements are that there must be a submit
      node that can be accessed through ssh and that compute nodes have internet
      connectivity (NAT is fine).
    </p>
    <h4>Cluster Information</h4>
    <p>
      Please fill out <a href="https://goo.gl/forms/8OukxsyG6KBSGHuR2">this
      form</a> so that we have information about your cluster before the
      workshop so that we can setup the necessary infrastructure on our side.    
    </p>
  </div>
</div>

<hr/>

