
<!--
<h2>Setup</h2>
-->
<p>
<strong>Please complete the following at least one week prior to arriving to the venue.</strong>  Also feel free to arrive a little early 
  if you have additional questions for the OSG technical staff.</p>
<h3>Overview</h3>

<div class="row-fluid">
  <div class="span12">
    <h4>Requirements</h4>
    <p>
      Integrating your cluster into OSG has fairly low requirements. Your
      cluster should meet the following:
      <ul>
        <li>Slurm, PBS, SGE, LSF, or HTCondor job scheduler</li>
        <li>Submit node should be accessible using SSH</li>
        <li>Compute nodes should have internet connectivity (NAT is fine)</li>
        <li>Compute nodes should use RHEL/Centos/Scientific Linux 6 or 7</li>
      </ul>
    </p>
    <h4>Cluster Information</h4>
    <p>
      Please fill out <a href="https://goo.gl/forms/8OukxsyG6KBSGHuR2">this
      questionnaire</a> so that we have information about your cluster before the
      workshop. This will give us extra time to configure the OSG managed
      services for your cluster.  Additionally, you should create the user that
      the OSG infrastructure will use to submit jobs to your cluster in order to
      facilitate the integration process during the workshop.
    </p>
  </div>
</div>

<hr/>

