
<!--
<h2>Setup</h2>
-->
<p>
<strong>Please complete the following at least one week prior to arriving to the venue.</strong>  Also feel free to arrive a little early 
  if you have additional questions for the OSG technical staff.</p>
<h3>Overview</h3>

<div class="row-fluid">
  <div class="span12">
    <h4>Requirements</h4>
    <p>
      Integrating your cluster into OSG has fairly low requirements. Your
      cluster should meet the following:
      <ul>
        <li>Slurm, PBS, SGE, LSF, or HTCondor job scheduler</li>
        <li>Submit node should be accessible using SSH</li>
        <li>Compute nodes should have internet connectivity (NAT is fine)</li>
        <li>Compute nodes should use RHEL/Centos/Scientific Linux 6 or 7</li>
      </ul>
    </p>
    <h4>Setup steps</h4>
      <ol>
        <li>Fill out  <a href="https://goo.gl/forms/8OukxsyG6KBSGHuR2">this questionnaire</a></li>
        <li>Create an user on your cluster that can submit to your batch
        manager (we suggest "osg" for the username, but other names are ok)
        <li>Add the ssh pub key that we provide to the user's authorized_keys file</li>
      </ol>
  </div>
</div>

<hr/>

